---
import App from "../../components/App.jsx";
import Header from "../../components/Header.astro";
import Footer from "../../components/Footer.astro";
import "../../styles/global.css";
import Layout from "../../layouts/Layout.astro";
import HeroImg from "../../assets/img/Hero-accueil.webp";
---

<!doctype html>
<html lang="fr">
  <head>
    <script defer src="https://unpkg.com/alpinejs@3.x.x/dist/cdn.min.js"
    ></script>
    <script
      defer
      src="https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js"
    ></script>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>
      Simulateur de tatouage IA – Crée et visualise ton design | InkSpire
    </title>
    <meta
      name="description"
      content="Crée ton tatouage avec l’IA, visualise-le sur ta peau et choisis en toute confiance. Essaie gratuitement !"
    />
    <script type="application/ld+json">
      {
        "@context": "https://schema.org",
        "@type": "WebApplication",
        "name": "InkSpire",
        "url": "https://inkspire.fr",
        "description": "Génère ton tatouage avec l’IA et visualise-le sur ta peau grâce à InkSpire.",
        "applicationCategory": "DesignApplication",
        "operatingSystem": "Android, iOS, Web",
        "offers": {
          "@type": "Offer",
          "price": "0.00",
          "priceCurrency": "EUR",
          "description": "Accès gratuit aux fonctionnalités de base. Abonnement Premium disponible à 5€/mois."
        },
        "aggregateRating": {
          "@type": "AggregateRating",
          "ratingValue": "4.9",
          "reviewCount": "125"
        }
      }
    </script>
  </head>
  <body>
    <Header />
    <div>
      <h1 class="text-center mb-6">
        Generateur de Tatouage IA
      </h1>
      <App client:load />
    </div>
    <Footer />
  </body>
</html>
