@import "tailwindcss";

@font-face {
    font-family: 'Nosifer';
    src: url('/src/assets/fonts/Nosifer-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@theme {
    /*couleurs et autres polices... */
    --font-Nosifer: 'Nosifer', sans-serif;
}

@layer base {
    body {
    }

    h1 {
    }

    h2 {
    }

    h3 {
    }

    h4 {
    }

    p {
    }
}