---
import Layout from "../../layouts/Layout.astro";
import ImgHero from "../../assets/img/Hero-styles-tatouages.webp";
import { getAllThemes } from "../../../backend/backend.mjs";
import CardTheme from "../../components/CardTheme.astro";

const themes = await getAllThemes();
---

<Layout titre_page="Explorer les styles de tatouages" img_hero={ImgHero}>
  <section class="bg-black text-white px-4 text-center" x-data="{ search: '' }">
    <p class="text-gray-500 font-semibold text-xs lg:text-xl pb-8">
      Découvre l'outil révolutionnaire qui t'aide à créer le tatouage parfait en
      quelques clics ! Inspire-toi, personnalise ton design et laisse l'IA
      générer un tatouage unique, rien que pour toi.
    </p>

    <div class="relative max-w-md mx-auto mb-10">
      <input
        type="text"
        placeholder="Rechercher un style..."
        class="w-full pl-12 pr-4 py-3 rounded-full bg-gray-800 text-sm text-white placeholder-gray-400 shadow-md focus:outline-none focus:ring-2 focus:ring-blue-500 transition duration-300"
        x-model="search"
      />
      <svg
        class="absolute left-4 top-1/2 transform -translate-y-1/2 text-gray-400 w-5 h-5 pointer-events-none"
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 24 24"
        stroke="currentColor"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2"
          d="M21 21l-4.35-4.35m0 0A7.5 7.5 0 103.5 10.5a7.5 7.5 0 0013.15 6.15z"
        ></path>
      </svg>
    </div>

    <div
      class="grid grid-cols-2 sm:grid-cols-3 md:grid-cols-4 gap-4 px-4 sm:px-0"
    >
      {
        themes?.map((theme) => (
          <div
            x-show="search === '' || $el.dataset.themeName.includes(search.toLowerCase())"
            x-data={`{ themeName: '${theme.nom.toLowerCase()}' }`}
            class="transition-all duration-300 opacity-100 transform hover:scale-105"
            data-theme-name={theme.nom.toLowerCase()}
          >
            <CardTheme {...theme} />
          </div>
        ))
      }
    </div>
    <p class="text-sm mt-10">
      À travers ces inspirations, demandez à notre IA une demande plus précise.
      Elle sera en mesure de créer un tatouage qui VOUS correspond !
    </p>
  </section>
</Layout>