---
import CompteApp from "../../components/CompteApp.jsx";
import "../../styles/global.css";
---

<html>
  <head><title>Mon Compte - Tatouages IA</title></head>
  <body class="bg-black p-10">
    <h1 class="text-3xl font-bold text-center mb-6">Mon Espace Tatouage</h1>
    <CompteApp client:load />
  </body>
</html>
