---
import Layout from "../../layouts/Layout.astro";
import HeroImgConnexion from "../../assets/img/Hero-connection.webp";

import { Image } from "astro:assets";

import CompteApp from "../../components/CompteApp.jsx";
import "../../styles/global.css";
---

<Layout titre_page="Mon Espace Compte" img_hero={HeroImgConnexion}>
  <main class="text-center px-8 lg:px-64">
    <p class="text-gray-500 font-semibold text-xs lg:text-xl pb-8">
      Personnalise ton design, explore des styles et laisse l’IA générer ton
      tatouage idéal.
    </p>
  </main>

  <CompteApp client:load />
</Layout>
