---
import LogoInstagram from "../assets/icons/instagram.svg";
import LogoFacebook from "../assets/icons/facebook.svg";
import LogoX from "../assets/icons/X.svg";
import Logo from "../assets/icons/logo.svg";
---

<footer class="bg-zinc-950 font-nosifer text-neutral-500 text-lg mt-10">
  <div class="px-8 pt-10">
    <div class="mb-10 flex">
      <Logo class="lg:scale-150" />
    </div>

    <div class="grid gap-8 md:grid-cols-2 lg:grid-cols-3 lg:ml-30">
      <ul class="space-y-8">
        <li><a href="/a_propos" class="hover:underline">À propos</a></li>
        <li><a href="/faq" class="hover:underline">FAQ</a></li>
        <li><a href="/contact" class="hover:underline">Contact</a></li>
        <li><a href="/cgv_cgu" class="hover:underline">CGV et CGU</a></li>
        <li>
          <a href="/mentions_legales" class="hover:underline">
            Mentions légales & politique de confidentialité
          </a>
        </li>
        <li><span class="text-neutral-400">Suivez-nous</span></li>
        <li>
          <div class="flex gap-5 mt-2">
            <a
              href="https://facebook.com"
              aria-label="Visitez notre page Facebook"
            >
              <LogoFacebook />
            </a>
            <a
              href="https://instagram.com"
              aria-label="Visitez notre page Instagram"
            >
              <LogoInstagram />
            </a>
            <a href="https://x.com" aria-label="Visitez notre page X (Twitter)">
              <LogoX />
            </a>
          </div>
        </li>
      </ul>
    </div>

    <div class="h-0.5 w-full bg-white opacity-20 mt-10"></div>

    <p class="text-white/20 text-sm text-center py-6">
      © MMI Montbéliard, ALL RIGHTS RESERVED
    </p>
  </div>
</footer>
