---
import "../styles/global.css";

import Header from "../components/Header.astro";
---

<!doctype html>
<html lang="fr">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>Astro Basics</title>

    <script type="application/ld+json">
      {
        "@context": "https://schema.org",
        "@type": "WebApplication",
        "name": "InkSpire",
        "url": "https://inkspire.fr",
        "description": "Génère ton tatouage avec l’IA et visualise-le sur ta peau grâce à InkSpire.",
        "applicationCategory": "DesignApplication",
        "operatingSystem": "Android, iOS, Web",
        "offers": {
          "@type": "Offer",
          "price": "0.00",
          "priceCurrency": "EUR",
          "description": "Accès gratuit aux fonctionnalités de base. Abonnement Premium disponible à 5€/mois."
        },
        "aggregateRating": {
          "@type": "AggregateRating",
          "ratingValue": "4.9",
          "reviewCount": "125"
        }
      }
    </script>
    
  </head>
  <body>
    <Header />
    <slot />
  </body>
</html>

<style>
  html,
  body {
    margin: 0;
    width: 100%;
    height: 100%;
  }
</style>
