---
import Layout from "../../layouts/Layout.astro";
import HeroImgFAQ from "../../assets/img/Hero-faq.webp"; // une image question ou spotlight si tu en as
---

<Layout
  titre_page="Vous avez des questions ? Nous avons les réponses."
  img_hero={HeroImgFAQ}
>
  <section class="" x-data="{ search: '' }">
    <p
      class="text-gray-500   text-xs lg:text-xl pb-8 px-8 text-center"
    >
      Notre FAQ est là pour vous aider.
    </p>
    <h2 class="text-center">Fonctionnement de l’IA</h2>

    <div class="pt-9">
      <h3 class="">Comment fonctionne l’IA pour créer un tatouage ?</h3>
      <p class="text-gray-400 text-sm px-8">
        Notre IA utilise des algorithmes avancés qui s’appuient sur une base de
        styles, de formes et de motifs pour générer un design unique à partir de
        ta description.
      </p>
    </div>
    <div>
      <h3 class=" ">
        Puis-je donner une image de référence à l’IA ?
      </h3>
      <p class="text-gray-400 text-sm text-gray-400 text-sm px-8">
        Oui ! Tu peux télécharger une image qui inspirera l’IA pour créer un
        tatouage basé sur ton idée.
      </p>
    </div>
    <div>
      <h3 class=" ">
        Puis-je modifier le tatouage que j’ai généré ?
      </h3>
      <p class="text-gray-400 text-sm text-gray-400 text-sm px-8">
        Absolument ! Tu peux ajuster les formes, le contraste et même combiner
        des éléments avant de finaliser ton tatouage.
      </p>
    </div>
  </section>
</Layout>

<!-- Utilisation -->
<div>
  <h2 class="mb-9 text center">Utilisation et téléchargement</h2>

  <div class="space-y-6">
    <div>
      <h3 class=" ">
        Puis-je partager mon design avec un tatoueur ?
      </h3>
      <p class="text-gray-400 text-sm text-gray-400 text-sm px-8">
        Bien sûr ! Tu peux imprimer ou envoyer directement ton fichier pour
        consultation.
      </p>
    </div>
    <div>
      <h3 class=" ">Puis-je enregistrer plusieurs versions ?</h3>
      <p class="text-gray-400 text-sm text-gray-400 text-sm px-8">
        Oui, tu peux comparer plusieurs versions avant de faire ton choix.
      </p>
    </div>
  </div>
</div>

<!-- Légal -->
<div>
  <h2 class="text-xl font-bold mb-4 border-b border-gray-700 pb-1">
    Droits & légalité
  </h2>

  <div class="space-y-6">
    <div>
      <h3 class=" ">
        Les tatouages générés sont-ils libres de droits ?
      </h3>
      <p class="text-gray-400 text-sm text-gray-400 text-sm px-8">
        Oui. Une fois téléchargé, le design t’appartient et tu peux l’utiliser
        comme bon te semble.
      </p>
    </div>
    <div>
      <h3 class=" ">
        Puis-je utiliser un tatouage généré à des fins commerciales ?
      </h3>
      <p class="text-gray-400 text-sm text-gray-400 ">
        Oui, si le design est personnalisé. L'utilisation brute peut être
        soumise à des restrictions.
      </p>
    </div>
  </div>
</div>
